@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #4E3D37;
}

button:hover {
  cursor: pointer;
  background-color: #ff3b2e;
}

.contentContainer {
  background-color: #FDF9F6;
  height: 100vh;
  display: flex;
  font-family: "Winky Sans", sans-serif;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 10px;
}

.contentContainer h1{
  margin: 1em;
}

.tabs{
  display: flex;
  list-style: none;
  gap: 10px;

  margin-bottom: 1rem;
}

.tabs li{
  font-size: 20px;
  border-bottom:1px solid #4E3D37 ;
}

.tabs li:hover{
  cursor: pointer;
}

.tabs li.active{
  color: #ff5845;
}
.toolBar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}
.addValue input, .filterValue input {
  border: 1px solid #ccc;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  font-size: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.addValue input:focus,
.addValue input:active {
  outline: none;
  border: 1px solid rgb(146, 146, 146);
}

.defaultButton {
  background-color: #ff5e4d;
  color: white;
  border: none;
  border-radius: 9999px;
  padding: 0.95rem 1.5rem;
  font-weight: bold;
  transition: background-color 0.2s;
}

.addButton {
  margin-left: -2.7rem;
}

.filterValue{
  margin: 0.5rem 0;
}

.todoList {
  margin: 1.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  margin-bottom: 0.75rem;
  border-radius: 0.5rem;
  background-color: #fffdfc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);

}

.date{
  font-size: 14px;
  margin: 2px;
  color: gray;
}

.todo button {
  background: none;
  /* border: 1px solid #ff5845; */
  /* border-radius: 14px; */
  border: none;
  padding: 0.2rem;
}

.todo button img {
  width: 15px;
}
.todo span{
  margin-right: 7em;
}
.todo div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo input[type='checkbox']{
  -webkit-appearance: none;
  appearance: none;
  width: 1.15em;
  height: 1.15em;
  margin-right: 0.31rem;
  border: 0.1em solid grey;
  background-color: white;
  border-radius: 50%;
}

.todo input[type='checkbox']:checked{
  background-color: lightgray;
}

.withOverline {
  text-decoration: line-through;
}

.footerPart{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 100px;
}